.favorites-container {
  padding: 20px;
}

.favorites-list {
  list-style: none;
  padding: 0;
}

.favorite-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.favorite-item h3 {
  margin: 0 0 5px 0;
  font-size: 1.5em;
}

.favorite-item p {
  margin: 0 0 5px 0;
}

button {
  background-color: #3edda0;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #23c891;
}

.message {
  font-size: larger;
  font-weight: 100;
  
}

