.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffdb63;
}

@media (max-width: 768px) {
  .header {
    padding: 16px;
  }
}

.logo-link {
  text-decoration: none;
}

.logo {
  height: 50px;
}

.name {
  margin-left: 10px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Adjusted gap for better spacing on smaller screens */
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column; /* Stack navigation links vertically on smaller screens */
    gap: 10px; /* Reduced gap between links */
  }
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #0c0c0c;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #e6dddd;
  font-weight: bold;
  font-size: 1.3rem;
}

.nav-links a:hover {
  color: #c7f523ad;
  background-color: #02ffea;
}

.search-container {
  position: relative;
}

.search-input {
  padding: 8px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  width: 200px; /* Adjusted width for smaller screens */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logout-button {
  padding: 8px 16px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #0c0c0c;
  color: #fff;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #333;
}
